.App {
  text-align: center;
  height: 100vh;
}

button {
  background-color: white;
  border: none;
  font-size: large;
  width: 8vw;
  height: 8vh;
  margin: 20px 20px;
  border-radius: 15px;
  align-self: center;
}
button:active {
  animation-duration: 0.2s;
  animation-name: ripple;
}
textarea {
  width: 30vw;
  height: 20vh;
  align-self: center;
}
input:focus {
  outline: #61dafb;
  border: 2px solid #61dafb;
}
/* box-shadow: 0 0 10px #61dafb; */
textarea:focus {
  outline: #61dafb;
  border: 2px solid #61dafb;
}
@media only screen and (max-width: 900px) {
  button {
    width: 20vw;
    height: 40px;
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 320px) {
  button {
    width: 20vw;
    height: 40px;
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 1000px) {
  button {
    width: 10vw;
    height: 5vh;
    font-size: 1.2rem;
    color: white;
    text-shadow: 2px 2px black;
    background-color: black;
  }

  textarea {
    width: 40vw;
  }
}
@keyframes ripple {
  from {
    background-color: #9198e5;
  }
  to {
    background: radial-gradient(#e66465, #9198e5);
  }
  to {
    background-color: #9198e5;
  }
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
