#transposable {
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  overflow-x: scroll;
}
#transposable > nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#transposed {
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0vw;
  height: 100vh;
  width: 20vw;
}
#transposed > nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

nav > a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px black;
  font-style: oblique;
  font-size: larger;
}

@media only screen and (max-width: 600px) {
  #transposable {
    display: flex;
    flex-direction: column;
  }
  #transposable > .navbarNav {
    display: flex;
    flex-direction: column;
  }
  #open {
    height: 30vh;
    overflow-y: scroll;
  }
  #close {
    height: 0vh;
    overflow-y: scroll;
  }
  #class > :nth-child(1n) {
    display: hidden;
  }
}
