#cards {
  background-color: #9198e5;
  width: 80vw;
  position: relative;
  left: 10vw;
  border-radius: 45px;
}
#cards > p {
  margin-left: 20px;
  margin-right: 20px;
}
div > h2 {
  margin-left: 30px;
}
div > button {
  margin-left: 5px;
  margin-right: 50px;
}
